.section__padding {
  @apply py-16;
}

.section__title {
  @apply font-merriweather text-2xl font-bold text-mainText dark:text-white;
}

.section__subtitle {
  @apply text-main font-playfair text-3xl sm:text-4xl md:text-5xl text-center sm:leading-snug md:leading-snug dark:text-white;
}

.section__description {
  @apply font-poppins text-additionalText md:text-lg md:leading-normal leading-normal dark:text-white;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #1f252e;
}

.vignette-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}
