@import './styles/common.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: #242424;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  @apply bg-light text-mainText dark:bg-mainText dark:text-white;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #242424;
}
